#
#Sat Mar 24 00:50:44 EET 2018
app.max_db_connections_count=10
app.classes.path=target/classes/com/linkedin/replica/signing
handler.nosql=ArangoDatabaseHandler
rabbitmq.username=hatem
package.handlers=com.linkedin.replica.signing.database
package.com.linkedin.replica.signing.commands=com.linkedin.replica.signing.commands
app.controller.host=localhost
handler.sql=MysqlDatabaseHandler
rabbitmq.queue.client=SIGNING
app.max_thread_count=20
rabbitmq.password=hatem
rabbitmq.ip=192.168.43.169
app.controller.port=8080
