handler.nosql=ArangoDatabaseHandler
handler.sql=MysqlDatabaseHandler
package.com.linkedin.replica.signing.commands=com.linkedin.replica.signing.commands
package.handlers=com.linkedin.replica.signing.database
app.classes.path=target/classes/com/linkedin/replica/notifier
app.controller.host=localhost
rabbitmq.queue.client=SIGNING
app.max_thread_count=20
rabbitmq.ip=localhost
app.max_db_connections_count=10
app.controller.port=8080