#
#Fri Mar 23 17:44:31 EET 2018
app.max_db_connections_count=10
app.classes.path=target/classes/com/linkedin/replica/signing
handler.nosql=ArangoDatabaseHandler
package.handlers=com.linkedin.replica.signing.database
package.com.linkedin.replica.signing.commands=com.linkedin.replica.signing.commands
app.controller.host=localhost
handler.sql=MysqlDatabaseHandler
rabbitmq.queue.client=SIGNING
rabbitmq.ip=localhost
app.max_thread_count=20
app.controller.port=8080
