#
#Sat Mar 24 00:50:44 EET 2018
signing.signOut.handler=ArangoSqlSigningHandler
signing.test=testCommand
signing.signOut=SignOutCommand
signing.signIn=SignInCommand
signing.signUp=SignUpCommand
signing.test.handler=ArangoSqlSigningHandler
signing.signUp.handler=ArangoSqlSigningHandler
signing.signIn.handler=ArangoSqlSigningHandler
signing.getLoggedInUserInfo.handler=ArangoSqlSigningHandler
signing.getLoggedInUserInfo=GetLoggedInUserInfo
