#
#Fri Mar 23 15:35:53 EET 2018
signing.signOut.handler=MysqlSigningHandler
signing.test=testCommand
signing.signOut=SignOutCommand
signing.signUp=SignUpCommand
signing.signIn=SignInCommand
signing.test.handler=ArangoSigningHandler
signing.signUp.handler=MysqlSigningHandler
signing.signIn.handler=ArangoSqlSigningHandler
