#
#Fri Mar 23 21:06:48 EET 2018
signing.signOut.handler=MysqlSigningHandler
signing.test=testCommand
signing.signOut=SignOutCommand
signing.signIn=SignInCommand
signing.signUp=SignUpCommand
signing.test.handler=ArangoSigningHandler
signing.signUp.handler=MysqlSigningHandler
signing.signIn.handler=ArangoSqlSigningHandler
